*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aerial',sans-serif;
    background: url(bg.jpg);
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    letter-spacing: 2px;
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #00ffff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #fff;
}
#gold{
    color: #00ffff;
}
.hero-content h1{
    color: green;
    font-size: 25px;
}
.hero-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #fff;
}
.hero-content button{
    display: inline-block;
    background-color: #00ffff;
    color: #000000;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.hero-content button:hover{
    background-color: #ff6347;
    transform: scale(1.1);
}
footer{
	width:100%;
	height: auto;
	background-color: #00c22a;
	color: #00ffff;
	font-size: 23px;
	text-align: center;
	line-height: 50px;
}

@media screen and (max-width: 768px){
    .heading h1{
        font-size: 45px;
        margin-top: 30px;
    }
    .hero{
        margin: 0px;
    }
    .container{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .hero-content{
        width: 100%;
        margin: 35px 0px;
    }
    .hero-content h2{
        font-size: 30px;
    }
    .hero-content p{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-content button{
        font-size: 16px;
        padding: 8px 16px;
    }
    .hero-img{
        width: 100%;
    }
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(0);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateX(-50);
    }
}